﻿@model CRM.WebApp.Models.Applications.Complaint

@{
    ViewBag.Title = "Szczegóły reklamacji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills nav-justified">
    <li class="active"><a href='@Url.Action("List", "Complaint")'>Wróć</a></li>
    <li><a href='@Url.Action("Edit", "Complaint", new { id = Model.ComplaintId })'>Edytuj</a></li>
    <li><a href='@Url.Action("Delete", "Complaint", new { id = Model.ComplaintId }, new { @onclick = "return confirm('Czy jesteś pewny, że chcesz usnunąć ?')" })'>Usuń</a></li>
</ul>
<br />

<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title"><strong>Szczegółowe informacje</strong></h3>
    </div>

    <table class="table">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Title)</strong></td>

            <td> @Html.DisplayFor(model => model.Title) </td> @*Required*@
        </tr>

        <tr>
            <td><strong> Klient </strong></td>

            <td></td> @*?Required?*@
        </tr>

        <tr>
            <td><strong> @Html.DisplayNameFor(model => model.ComplaintId) </strong></td>

            <td> @Html.DisplayFor(model => model.ComplaintId) </td>
        </tr>

        <tr>
            @if (Model.ComplaintStatus.Equals("Solved"))
            {
                <td><strong> @Html.DisplayNameFor(model => model.EndTime) </strong></td>

                <td>
                    @if (!Model.EndTime.HasValue)
                    {
                        <em><small>Brak informacji</small></em>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.EndTime)
                    }
                </td>
            }
            else
            {

            <tr>
                <td><strong> @Html.DisplayNameFor(model => model.CreationTime) </strong></td>

                <td>
                    @if (!Model.CreationTime.HasValue)
                    {
                        <em><small>Brak informacji</small></em>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.CreationTime) @*nie powinno być Required?*@
                    }
                </td>
            </tr>
            }
            </tr>

            <tr>
                <td><strong> @Html.DisplayNameFor(model => model.Status) </strong></td>

                <td> @Html.DisplayFor(model => model.Status) </td> @*Required*@
            </tr>
        </table>
    </div>

    @*Description*@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong> @Html.DisplayNameFor(model => model.Description) </strong>
            </h3>
        </div>

        <div class="panel-body">
            @Html.DisplayFor(model => model.Description) @*Required*@
        </div>
    </div>