﻿@model CRM.WebApp.Models.Applications.Complaint

@{
    ViewBag.Title = "Edycja reklamacji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ViewBag.Title</h3>
        <hr />
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Dane reklamacji</legend>

            @Html.HiddenFor(model => model.ComplaintId)

            @*Title*@
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "title-tb" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            @*Description*@
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "client-interview-ta" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            @*Status*@
            <div class="row">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
    List<SelectListItem> listItems = new List<SelectListItem>(){
                            new SelectListItem(){ Text = "Oczekuje", Value = "Await", Selected = true },
                            new SelectListItem(){ Text = "W trakcie", Value = "InProgress" },
                            new SelectListItem(){ Text = "Rozpatrzone", Value = "Solved" },
                            new SelectListItem(){ Text = "Anulowane", Value = "Canceled" }
                          };
                    }
                    @Html.DropDownListFor(model => model.Status, listItems, "")
                    @*Html.TextBoxFor(Model => Model.PredictedRealizationDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>


        </fieldset>
    </div>
}
