﻿@model IEnumerable<CRM.WebApp.Models.Applications.Complaint>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista reklamacji</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink(" ", "Delete", new { id = item.ComplaintId }, new { @class = "usun", @onclick = "return confirm('Czy jesteś pewny, że chcesz usnunąć ?')" })
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id=item.ComplaintId }, new { @class = "pokaz"  })
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ComplaintId }, new { @class = "edytuj" })
        </td>
    </tr>
}

</table>
