﻿@model CRM.WebApp.ViewModel.Clients.People.PersonVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        <h3 align="left">Tworzenie nowego klienta</h3>
        <hr />

        <fieldset>
            <legend>Dane personalne</legend>

            @*Person name*@
            <div class="row">
                @Html.LabelFor(model => model.Person.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Person.Name, new { @class = "form-control", @id = "person-name-tb" })
                    @Html.ValidationMessageFor(model => model.Person.Name)
                </div>
            </div>
       
            @*Person surname*@
            <div class="row">
                @Html.LabelFor(model => model.Person.Surname, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Person.Surname, new { @class = "form-control", @id = "person-surname-tb" })
                    @Html.ValidationMessageFor(model => model.Person.Surname)
                </div>
            </div>
        </fieldset><br />

        <fieldset>
            <legend>Dane kontaktowe</legend>

            @*Email*@
            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.Email, new { @class = "form-control", @id = "person-email-tb", placeholder = "person@email.com" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.Email)
                </div>
            </div>

            @*Phone nr*@
            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.PhoneNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.PhoneNr, new { @class = "form-control", @id = "person-phonenr-tb", placeholder = "800800800" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.PhoneNr)

                </div>

            </div>
        </fieldset><br />

        <fieldset>
            <legend>Adres</legend>

            @*Street*@
            <div class="row">
                @Html.LabelFor(model => model.Address.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.Street)
                </div>
            </div>

            @*Building number*@
            <div class="row">
                @Html.LabelFor(model => model.Address.BuildingNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.BuildingNr, new { @class = "form-control", @id = "person-address-buildingnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.BuildingNr)
                </div>
            </div>

            @*Apartment number*@
            <div class="row">
                @Html.LabelFor(model => model.Address.ApartmentNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.ApartmentNr, new { @class = "form-control", @id = "person-address-apartmentnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.ApartmentNr)
                </div>
            </div>

            @*Postal code*@
            <div class="row">
                @Html.LabelFor(model => model.Address.PostalCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.PostalCode, new { @class = "form-control", @id = "person-address-postalcode-tb", placeholder = "00-000" })
                    @Html.ValidationMessageFor(model => model.Address.PostalCode)
                </div>
            </div>

            @*City*@
            <div class="row">
                @Html.LabelFor(model => model.Address.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", @id = "person-address-city-tb" })
                    @Html.ValidationMessageFor(model => model.Address.City)
                </div>
            </div>

            @*Community*@
            <div class="row">
                @Html.LabelFor(model => model.Address.Community, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Community, new { @class = "form-control", @id ="person-address-community-tb"})
                    @Html.ValidationMessageFor(model => model.Address.Community)
                </div>
            </div>


            @*District*@
            <div class="row">
                @Html.LabelFor(model => model.Address.District, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.District, new { @class = "form-control", @id = "person-address-district-tb" })
                    @Html.ValidationMessageFor(model => model.Address.District)
                </div>
            </div>


            @*Province*@
            <div class="row">
                @Html.LabelFor(model => model.Address.Province, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Province, new { @class = "form-control", @id = "person-address-province-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Province)
                </div>
            </div>
        </fieldset><br />
        
        <div class="form-group" >
            <div valign="middle" align="center" colspan="2">
                <br />
                <input type="submit" value="Dodaj klienta" class="btn btn-primary" />
                <input type="reset" value="Wyczyść" class="btn btn-default" />
            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
