﻿@model CRM.WebApp.ViewModel.Clients.People.PersonVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Person.PersonId)
        @Html.HiddenFor(model => model.Address.AddressId)
        @Html.HiddenFor(model => model.ContactDetails.ContactDetailsId)

        <h3 align="left">Edycja klienta : @Html.DisplayFor(model => model.Person.Name) @Html.DisplayFor(model => model.Person.Surname)</h3>
        <hr />

        @*Dane personalne*@
        <fieldset>
            <legend>Dane personalne</legend>

            <div class="row">
                @Html.LabelFor(model => model.Person.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Person.Name, new { @class = "form-control", @id = "person-name-tb" })
                    @Html.ValidationMessageFor(model => model.Person.Name)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Person.Surname, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Person.Surname, new { @class = "form-control", @id = "person-surname-tb" })
                    @Html.ValidationMessageFor(model => model.Person.Surname)
                </div>
            </div>

        </fieldset> <br />

        @*Dane kontaktowe*@
        <fieldset>
            <legend>Dane kontaktowe</legend>
            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.Email, new { @class = "form-control", @id = "person-email-tb", placeholder = "person@email.com" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.Email)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.PhoneNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.PhoneNr, new { @class = "form-control", @id = "person-phonenr-tb" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.PhoneNr)
                </div>
            </div>
        </fieldset> <br />

        @*Adres*@
        <fieldset>
            <legend>Adres</legend>
            <div class="row">
                @Html.LabelFor(model => model.Address.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.Street)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.BuildingNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.BuildingNr, new { @class = "form-control", @id = "person-address-buildingnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.BuildingNr)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.ApartmentNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.ApartmentNr, new { @class = "form-control", @id = "person-address-apartmentnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.ApartmentNr)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.PostalCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.PostalCode, new { @class = "form-control", @id = "person-address-postalcode-tb", placeholder = "00-000" })
                    @Html.ValidationMessageFor(model => model.Address.PostalCode)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", @id = "person-address-city-tb" })
                    @Html.ValidationMessageFor(model => model.Address.City)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.Community, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Community, new { @class = "form-control", @id = "person-address-community-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Community)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.District, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.District, new { @class = "form-control", @id = "person-address-district-tb" })
                    @Html.ValidationMessageFor(model => model.Address.District)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.Province, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Province, new { @class = "form-control", @id = "person-address-province-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Province)
                </div>
            </div>
        </fieldset> <br />

        @*Buttons*@
        <div valign="middle" align="center" colspan="2">
            <br />
            <div class="btn-group">
                <a href='@Url.Action("List", "Person")' class="btn btn-default">Anuluj</a>
                <a class="btn btn-default" onclick="document.forms[0].submit();return false;">Zapisz zmiany</a>
            </div>
        </div>
        <br />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
