﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="container">
    <form method="post" action="/Mail/Create">

        <div class="row">
            <div class="col-md-12">
                <fieldset id="email" class="form-group lead">
                    <legend>E-mail</legend> <input type="text" name="email" class="form-control input-md" placeholder="you@yourdomail.com" value="" id="email">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <fieldset id="email" class="form-group lead">
                    <legend>Temat</legend> <input type="text" name="subject" class="form-control input-md" placeholder="What's up ?" value="" id="subject">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <fieldset id="email" class="form-group lead">
                    <legend>Treść</legend> <textarea name="body" class="form-control input-md" rows="9" placeholder="What's on your mind ?" id="body"></textarea>
                </fieldset>
            </div>
        </div>

        <input type="submit" value="Send" class="btn btn-primary" />
        <input type="reset" value="Wyczyść" class="btn btn-default" />
    </form>
</div>

