﻿@model PagedList.IPagedList<CRM.WebApp.Models.Mail>
    @using PagedList.Mvc;

    @{
        ViewBag.Title = "List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>List</h2>

    <p>
        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("Refresh", "Refresh", null, new { @onclick = " $('#loading-window').show(0); " })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MailUintId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MailUintId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.MailId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MailId }, new { @onclick = "return confirm('Czy jesteś pewny, że chcesz usnunąć ?')" })
                </td>
            </tr>
        }

    </table>
    <hr />
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
