﻿@model CRM.WebApp.ViewModel.Clients.Companies.CompanyVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Firma</h3>
    <hr />

    <div class="row">
        @{
            string ServiceRequestControllerName = "ServiceRequest";
            string CompanyControllerName = "Company";
        }

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-inner">
                <ul class=" nav nav-navbar nav-pills nav-justified">
                    <li class="navbar-brand"><a href='@Url.Action("Create", ServiceRequestControllerName, new { id = (Model.Company as CRM.WebApp.Models.Clients.IClient).ClientId })'>Stwórz zgłoszenie serwisowe</a></li>
                    @*<li class="navbar-brand"><a href='@Url.Action(" ", " ", new { clientId = (Model.Company as CRM.WebApp.Models.Clients.IClient).ClientId })' style="pointer-events: none; cursor: default;">Stwórz reklamacje</a></li>*@
                    <li class="navbar-brand"><a href='@Url.Action("Edit", CompanyControllerName, new { id = Model.Company.CompanyId })'>Edytuj</a></li>
                    <li class="navbar-brand"><a href='@Url.Action("Delete", CompanyControllerName, new { id = Model.Company.CompanyId })'>Usuń</a></li>
                    <li class="active  navbar-brand"><a href='@Url.Action("List", CompanyControllerName)'>Wróć</a></li>
                </ul>
            </div>
        </nav>
 </div>

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title"><strong>Szczegółowe informacje</strong></h3>
        </div>

        <table class="table table-hover">
            <tr>
                <td class="col-md-3"><strong>@Html.DisplayNameFor(model => model.Company.CompanyName)</strong></td>

                <td> @Html.DisplayFor(model => model.Company.CompanyName) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Company.NIP)</strong></td>

                <td> @Html.DisplayFor(model => model.Company.NIP) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.Community)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.Community) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.PostalCode)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.PostalCode) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.City)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.City) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.BuildingNr)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.BuildingNr) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.ApartmentNr)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.ApartmentNr) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.District)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.District) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.Street)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.Street) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Address.Province)</strong></td>

                <td> @Html.DisplayFor(model => model.Address.Province) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ContactDetails.Email)</strong></td>

                <td> @Html.DisplayFor(model => model.ContactDetails.Email) </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ContactDetails.PhoneNr)</strong></td>

                <td> @Html.DisplayFor(model => model.ContactDetails.PhoneNr) </td>
            </tr>

        </table>
    </div>


</div>

