﻿@model  CRM.WebApp.ViewModel.Clients.Companies.CompanyVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Company.CompanyId)
        @Html.HiddenFor(model => model.Address.AddressId)
        @Html.HiddenFor(model => model.ContactDetails.ContactDetailsId)

        <h3 align="left">Edycja firmy : @Html.DisplayFor(model => model.Company.CompanyName)</h3>
        <hr />

        @*Dane firmy*@
        <fieldset>
            <legend>Dane firmy</legend>

            <div class="row">
                @Html.LabelFor(model => model.Company.CompanyName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Company.CompanyName, new { @class = "form-control", @id = "company-name-tb" })
                    @Html.ValidationMessageFor(model => model.Company.CompanyName)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Company.NIP, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Company.NIP, new { @class = "form-control", @id = "company-nip-tb", placeholder = "000-000-00-00" })
                    @Html.ValidationMessageFor(model => model.Company.NIP)
                </div>
            </div>
        </fieldset>
        <br />
        @*Dane kontaktowe*@
        <fieldset>
            <legend>Dane kontaktowe</legend>

            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.Email, new { @class = "form-control", @id = "company-email-tb", placeholder = "company@email.com" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.Email)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.PhoneNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.PhoneNr, new { @class = "form-control", @id = "company-phonenr-tb" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.PhoneNr)
                </div>
            </div>
        </fieldset>
        <br />
        @*Adres*@
        <fieldset>
            <legend>Adres</legend>

            <div class="row">
                @Html.LabelFor(model => model.Address.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control", @id = "company-address-street-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Street)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.BuildingNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.BuildingNr, new { @class = "form-control", @id = "company-address-buildingnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.BuildingNr)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.ApartmentNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.ApartmentNr, new { @class = "form-control", @id = "company-address-apartmentnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.ApartmentNr)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.PostalCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.PostalCode, new { @class = "form-control", @id = "company-address-postalcode-tb", placeholder = "00-000" })
                    @Html.ValidationMessageFor(model => model.Address.PostalCode)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.City)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.Community, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Community, new { @class = "form-control", @id = "company-address-comunity-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Community)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.District, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.District, new { @class = "form-control", @id = "company-address-district-tb" })
                    @Html.ValidationMessageFor(model => model.Address.District)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Address.Province, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Province, new { @class = "form-control", @id = "company-address-province-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Province)
                </div>
            </div>
        </fieldset>
        <br />
       

        @*Buttons*@
        <div valign="middle" align="center" colspan="2">
            <br />
            <div class="btn-group">
                <a href='@Url.Action("List", "Company")' class="btn btn-default">Anuluj</a>
                <a class="btn btn-default" onclick="document.forms[0].submit();return false;">Zapisz zmiany</a>
            </div>
        </div>
        <br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
