﻿@model PagedList.IPagedList<CRM.WebApp.ViewModel.Clients.Companies.ListCompanyVM>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Firmy";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>@ViewBag.Title</h2>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nazwa</br>
                Firmy
            </th>
            <th>
                Kod</br>
                Pocztowy
            </th>
            <th>
                Liczba</br>
                Zgłoszeń
            </th>
            <th>
                Status
            </th>
            <th>Akcja</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                
                <td>@Html.DisplayFor(modelItem => item.Address.PostalCode)</td>
                
                <td>@Html.DisplayFor(modelItem => item.ServiceRequestNumber)</td>
                
                <td>
                @if (item.Status)
                {
                    <em>Zakończono</em>
                }
                else
                {
                    <em>Obłsugiwany</em>
                }
                </td>
                <td width="177">
                    <div class="btn-group btn-group-sm">

                        <a href='@Url.Action("Delete", "Company", new { id = item.Company.CompanyId })' class="btn btn-default" onclick="return confirm('Czy jesteś pewny, że chcesz usnunąć ?')">Usuń</a>

                        <a href='@Url.Action("Details", "Company", new { id = item.Company.CompanyId })' class="btn btn-default">Pokaż</a>

                        <a href='@Url.Action("Edit", "Company", new { id = item.Company.CompanyId })' class="btn btn-default">Edytuj</a>

                    </div>
                </td>
            </tr>
                    }

</table>

    <hr />

    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
