﻿body {
  background-color: #BBDDFF;
  font-family: 'Segoe UI';
}
#crmLogo {
  margin-top: 120px;
  position: relative;
}
#login {
  margin: 0 auto;
  padding: 10px 20px;
  width: 290px;
  top: 10px;
  position: relative;
  background-color: #FFF;
  box-shadow: 0 3px 15px #888;
}
h2 {
  font-family: 'Segoe UI Light';
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}
.inputBox {
  width: 230px;
  height: 25px;
  font-size: 0.9em;
  font-family: 'Segoe UI';
}
table td {
  padding-bottom: 10px;
}
input.submit {
  width: 100px;
  height: 30px;
  float: right;
}
.footer {
  font-size: 0.75em;
}
/*---- VALIDATION ERRORS ----*/
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  color: #ff0000;
  font-size: 0.85em;
}
.validation-summary-errors li {
  list-style-type: none;
}
/*# sourceMappingURL=LoginWindowStyleSheet.css.map */