﻿@import (reference) "../bootstrap/bootstrap.less";

@std-textarea-height: 100px;
@std-margin: 5%;

.round-borders (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}


.fill-verticaly {
    width: 100%;
}

#title-tb {
    .fill-verticaly();
    margin-right: @std-margin;
}

textarea {
    .form-control();
    .fill-verticaly();
    height: @std-textarea-height;
    margin-right: @std-margin;
}
.edytuj {
    background: url('../images/edytuj.png') no-repeat center top; 
    display: block; 
    height: 20px; 
    margin: 0 auto;
    border: 0;
    width:40px;
    opacity:0.8;
    filter:alpha(opacity=80);
    
}
 .edytuj:hover 
{
        opacity:1;
        filter:alpha(opacity=100);
}
.pokaz {
    background: url('../images/pokaz.png') no-repeat center top; 
    display: block; 
    height: 20px; 
    margin: 0 auto;
    border: 0;
    width:40px;
    opacity:0.8;
    filter:alpha(opacity=80);
    
    
}
 .pokaz:hover 
{
        opacity:1;
        filter:alpha(opacity=100);
}
.usun {
    background: url('../images/usun.png') no-repeat center top; 
    display: block; 
    height: 20px; 
    margin: 0 auto;
    border: 0;
    width:40px;
    opacity:0.8;
    filter:alpha(opacity=80);
    
    
}
 .usun:hover 
{
        opacity:1;
        filter:alpha(opacity=100);
}