﻿@site-bg: #428bca;
@solid-border: 1px solid #000;
@thin-border: 1px solid rgba(0,0,0,.5);
@main-content-bg: rgba(0,0,0,.2);
@main-content-bg-inner: #fff;
@footer-bg: @main-content-bg;

.bg-gradient(@top-color, @bottom-color){
        background: -webkit-linear-gradient(top, @top-color, @bottom-color) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, @top-color, @bottom-color) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, @top-color, @bottom-color) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, @top-color, @bottom-color) fixed; /* Standard syntax */
}

body {
    @c1: #1d4770;
    @c2: #3477b9;
    .bg-gradient(@c1,@c2);
}

.headtopdiv {
    @text: #fff;

    background: url(../images/logo2.png) no-repeat #2c6195;
    color: @text;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: @thin-border;
    padding: 17px;

    a{
        color: @text;
    }
}

.contentmaindiv {
    padding: 15px;
    background: @main-content-bg;
    border-radius: 5px;
    border: none;
}

.maincontentright {
    background: @main-content-bg-inner;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.stopka {
    text-align: center;
    background-color: @footer-bg;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
    color: #fff;

}

th{
    background: @site-bg;
    color: #fff;
    border: solid 1px #23517e;
}
