﻿@model CRM.WebApp.Models.ErrorModel
<style>
    #errorMessage {
        color: red;
        font-weight: bold;
        padding-top: 20px;
    }
</style>
<center><h2>Error 404 - Strona nie znaleziona</h2></center>
<br /><br /><br /><br />
<center><img src="@Url.Content("~/Content/images/404.png")" alt="IMAGES" /></center>
<div>
    
    
</div>
<div id="errorMessage">
    @{
        string message = null;
        switch (Model.HttpStatusCode)
        {
            case 404:
                message = "It looks like that page you were looking has been mislaid, sorry....";
                break;
            case 500:
                message = string.Concat("The following server error was encountered:<br /> ", Model.Exception.Message);
                break;
        }
    }

    <center>@Html.Raw(message)</center>
    <br />
    <br />
</div>
