﻿#loading-window
{
position: fixed; 
left: 0px; 
top: 0px;
 height: 100%;
  width: 100%;
   background-color: rgba(50,50,50,0.7); 
   z-index: 5; 
   display: none;
}

.loading-window-window
{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    height: 140px;
    padding-left: 50px;
    padding-right: 15px;
    margin-bottom: 15px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(74, 218, 224, 0.87) ;
}

.loading-window_text
{
    position:relative;
	left: 120px;
	top: 60px;
    font-size: 18px;
    font-weight: bold;
}