﻿@model CRM.WebApp.ViewModel.Users.CreateUserVM

@{
    ViewBag.Title = "Tworzenie nowego użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Login powinien być ciągiem znaków o długości od 5 do 25 znaków." })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Hasło powinno być ciągiem znaków o długości od 5 do 25 znaków." })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordVerification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.PasswordVerification, new { @class = "form-control", placeholder = "Wpisz ponownie wyżej podane hasło." })
                @Html.ValidationMessageFor(model => model.PasswordVerification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAdmin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsAdmin)
                @Html.ValidationMessageFor(model => model.IsAdmin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span><input type="submit" value="Stwórz użytkownika" class="btn btn-primary" /></span>
                <span><input type="reset" value="Wyczyść formularz" class="btn btn-default" /></span> 
            </div>
        </div>
    </div>
}