﻿@model CRM.WebApp.ViewModel.Users.DashboardVM

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Tytuł</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model.User.ServiceReqestsViewHistory)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ServiceRequest.ServiceRequestId)</td>
            <td>@Html.DisplayFor(modelItem=>item.ServiceRequest.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.ServiceRequest.ServiceRequestStatus)</td>
            <td></td>
        </tr>
    }
</table>
