﻿@model CRM.WebApp.ViewModel.CreateServiceRequestVM

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
}

@{
    ViewBag.Title = "Tworzenie nowego zgłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "ServiceRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Client.ClientId)

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3>Tworzenie nowego zgłoszenia</h3>
    <hr />
    <div class="form-horizontal">
        <div class="row">
            <div class="panel panel-primary" style="margin: 1%">
                <div class="panel-heading">
                    <h3 class="panel-title">Klient</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <strong>Wybrany klient: </strong>
                            @if (Model.Client != null && Model.Client.ClientId != null)
                            {
                                @Html.DisplayFor(model => model.Client.ClientId);
                                @Html.DisplayFor(model => model.Client.Name);
                            }
                            else
                            {
                                <text>brak</text>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <fieldset>
            <legend>
                Dane zgłoszenia
            </legend>

            @*Title*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ServiceRequest.Title, new { @class = "form-control", @id = "title-tb", placeholder = "Tytuł zgłoszenia powinien być ciągiem znaków o długości minimalnej 3 i maksymalnej 100.", @MinLength="3", @MaxLength="100" } )
                    @Html.ValidationMessageFor(model => model.ServiceRequest.Title)
                </div>
            </div>

            @*Interview with client*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.ClientInterview, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ServiceRequest.ClientInterview, new { @class = "form-control", @id = "client-interview-ta", placeholder = "Tu powinien znajdować się wstępny opis problemu klienta.", @MaxLength="10000" })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.ClientInterview)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Analiza</legend>

            @*Analyze description*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Analyze.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ServiceRequest.Analyze.Description, new { @id = "analyze-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej analizy.", @MaxLength="10000" })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.Analyze.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Naprawa</legend>

            @*Repair description*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Repair.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ServiceRequest.Repair.Description, new { @id = "repair-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej naprawy.", @MaxLength="10000" })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.Repair.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Wymiana</legend>

            @*Replacement description*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Replacement.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ServiceRequest.Replacement.Description, new { @id = "replacement-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej wymiany.", @MaxLength="10000" })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.Replacement.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Konserwacja</legend>

            @*Maintenance description*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Maintenance.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ServiceRequest.Maintenance.Description, new { @id = "maintenance-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej konserwacji.", @MaxLength="10000" })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.Maintenance.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Odzyskiwanie</legend>

            @*Recovery description*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Recovery.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ServiceRequest.Recovery.Description, new { @id = "recovery-descrip-ta", placeholder = "Tutaj powinien znajdować się opis odzyskania.", @Maxlength="10000" })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.Recovery.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Podsumowanie</legend>
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.PredictedRealizationDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*Html.TextBoxFor(model => model.ServiceRequest.PredictedRealizationDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })*@
                    @Html.TextBoxFor(model => model.ServiceRequest.PredictedRealizationDate, new { @id = "DtP", @class = "form-control", placeholder = "Zaznacz przewidywaną datę realizacji zgłoszenia." })
                    @Html.ValidationMessageFor(model => model.ServiceRequest.PredictedRealizationDate)
                </div>
            </div>

            @*Status*@
            <div class="row">
                @Html.LabelFor(model => model.ServiceRequest.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
    List<SelectListItem> listItems = new List<SelectListItem>(){
                            new SelectListItem(){ Text = "Oczekuje", Value = "Await", Selected = true },
                            new SelectListItem(){ Text = "W trakcie", Value = "InProgress" },
                            new SelectListItem(){ Text = "Zakończone", Value = "Completed" }
                          };
                    }
                    @Html.DropDownListFor(model => model.ServiceRequest.Status, listItems, "")

                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Załączniki</legend>
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <input type="file" name="Files" multiple />
                </div>
            </div>
        </fieldset>
        <br />
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz zgłoszenie" class="btn btn-primary" />
                <input type="reset" value="Wyczyść" class="btn btn-default" /> 
            </div>
        </div>
    </div>
};