﻿@model CRM.WebApp.ViewModel.DetailsServiceRequestVM

@{
    ViewBag.Title = "Szczegóły zgłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills nav-justified">
    <li class="active"><a href='@Url.Action("List", "ServiceRequest")'>Wróć</a></li>
    <li><a href='@Url.Action("Edit", "ServiceRequest", new { id = Model.ServiceRequest.ServiceRequestId })'>Edytuj</a></li>
    @*<li><a href='@Url.Action("Delete", "ServiceRequest", new { id = Model.ServiceRequest.ServiceRequestId}, new {@onclick = "return confirm('Czy jesteś pewny, że chcesz usnunąć ?')" })'>Usuń</a></li>*@
</ul>
<br />

<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title"><strong>Szczegółowe informacje</strong></h3>
    </div>

    <table class="table">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.ServiceRequest.Title)</strong></td>

            <td> @Html.DisplayFor(model => model.ServiceRequest.Title) </td> @*Required*@
        </tr>

        <tr>
            <td><strong>Właściciel</strong></td>

            <td><a href='@Url.Action("Details", @Model.Client is CRM.WebApp.Models.Clients.Person ? "Person" : "Company", new { id = Model.ServiceRequest.ServiceRequestId })'>@Html.Raw(@Model.Client.Name)</a></td> @*Required?*@  
        </tr>
       
        <tr>
            <td><strong> @Html.DisplayNameFor(model => model.ServiceRequest.ServiceRequestId) </strong></td>

            <td> @Html.DisplayFor(model => model.ServiceRequest.ServiceRequestId) </td> @*Required*@
        </tr>

        <tr>
            @*Brakuje DisplayName*@
            <td><strong> @Html.DisplayNameFor(model => model.ServiceRequest.CreationTime) </strong></td>

            <td> @Html.DisplayFor(model => model.ServiceRequest.CreationTime) </td> @*Required*@
        </tr>

        <tr>
            @if (Model.ServiceRequest.ServiceRequestStatus.Equals("Completed"))
            {
                @*Brakuje DisplayName dla EndTime w ServiceRequest*@
                <td><strong> @Html.DisplayNameFor(model => model.ServiceRequest.EndTime) </strong></td>

                <td>
                    @if (!Model.ServiceRequest.EndTime.HasValue)
                    {
                        <em><small>Brak informacji</small></em>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.ServiceRequest.EndTime)
                    }
                </td>
            }
            else
            {
                <td><strong> @Html.DisplayNameFor(model => model.ServiceRequest.PredictedRealizationDate) </strong></td>

                <td> @Html.DisplayFor(model => model.ServiceRequest.PredictedRealizationDate) </td> @*Required*@
            }
        </tr>

        <tr>
            <td><strong> @Html.DisplayNameFor(model => model.ServiceRequest.Status) </strong></td>

            <td> @Html.DisplayFor(model => model.ServiceRequest.Status) </td>
        </tr>
    </table>
</div>

@*ClientInterview*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong> @Html.DisplayNameFor(model => model.ServiceRequest.ClientInterview) </strong>
        </h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.ClientInterview != null && Model.ServiceRequest.ClientInterview != "")
        {
            @Html.DisplayFor(model => model.ServiceRequest.ClientInterview)
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }

    </div>
</div>

@*Analyze*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong> @Html.DisplayNameFor(model => model.ServiceRequest.Analyze.Description) </strong>
        </h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.Analyze != null && Model.ServiceRequest.Analyze.Description != "")
        {
            @Html.DisplayFor(model => model.ServiceRequest.Analyze.Description)
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }

    </div>
</div>

@*Maintenance*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong> @Html.DisplayNameFor(model => model.ServiceRequest.Maintenance.Description) </strong></h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.Maintenance != null && Model.ServiceRequest.Maintenance.Description != "")
        {
            @Html.DisplayFor(model => model.ServiceRequest.Maintenance.Description)
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }

    </div>
</div>

@*Repair*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong> @Html.DisplayNameFor(model => model.ServiceRequest.Repair.Description) </strong></h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.Repair != null && Model.ServiceRequest.Repair.Description != "")
        {
            @Html.DisplayFor(model => model.ServiceRequest.Repair.Description)
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }

    </div>
</div>

@*Replacement*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong> @Html.DisplayNameFor(model => model.ServiceRequest.Replacement.Description) </strong></h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.Replacement != null && Model.ServiceRequest.Replacement.Description != "")
        {
            @Html.DisplayFor(model => model.ServiceRequest.Replacement.Description)
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }

    </div>
</div>

@*Recovery*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong> @Html.DisplayNameFor(model => model.ServiceRequest.Recovery.Description) </strong></h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.Recovery != null && Model.ServiceRequest.Recovery.Description != "")
        {
            @Html.DisplayFor(model => model.ServiceRequest.Recovery.Description)
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong> @Html.DisplayNameFor(model => model.ServiceRequest.Documents) </strong></h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.Documents != null && Model.ServiceRequest.Documents.Count() != 0)
        {
            foreach (var item in Model.ServiceRequest.Documents)
            {
                <span>@Html.DisplayFor(modelItem => item.FileName)</span> <span>@Html.ActionLink("Download", "DownloadDocument", new { documentId = item.DocumentId })</span>
            }
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong> @Html.DisplayNameFor(model => model.ServiceRequest.History) </strong></h3>
    </div>

    <div class="panel-body">
        @if (Model.ServiceRequest.History != null)
        {
            foreach (var item in Model.ServiceRequest.History.Items)
            {
                <div>
                    <span>@item.CreationTime</span>
                    <span>@item.GetDescription()</span>
                </div>
            }
        }
        else
        {
            <em><small>Brak informacji</small></em>
        }
    </div>
</div>